/*Intro section*/
.App-intro{
  @extend %flex-column;
  margin-bottom: 0%;
  height: 100vh;
}
.App-intro-container{
  @extend %flex-row;
  justify-content: left;
  margin: 0 0 0 15%;
}
.App-intro-title-container{
  @extend %flex-column;
  justify-content: center;
  height: 100vh;
}
.App-intro-name, .App-intro-job{
  @extend %flex-column;
  justify-content: space-around;
  margin: 3% 0 0 0;
}
.App-intro-job{
  @extend %flex-column;
  justify-content: space-around;
  /*margin: 2% auto 0 auto;*/
}

@media screen and (max-width: 1000px) {
  .App-intro-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 0 0;
  }
  .App-intro-name, .App-intro-job{
    justify-content: space-around;
    margin: 3% auto 0 auto;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .App-intro-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 0 0;
  }
  .App-intro-name, .App-intro-job {
    margin: 20% auto 0 auto;
  }
}